CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_xiaomi_mi-router-4a-100m=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BATMAN_ADV_BATMAN_V=y
CONFIG_BATMAN_ADV_BLA=y
CONFIG_BATMAN_ADV_DAT=y
CONFIG_BATMAN_ADV_MCAST=y
# CONFIG_GDB is not set
CONFIG_PACKAGE_batctl-default=y
# CONFIG_PACKAGE_coreutils-base64 is not set
CONFIG_PACKAGE_coreutils-sleep=y
CONFIG_PACKAGE_dawn=y
# CONFIG_PACKAGE_dns2socks is not set
CONFIG_PACKAGE_kmod-batman-adv=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nsh=y
CONFIG_PACKAGE_kmod-openvswitch=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libcap=y
# CONFIG_PACKAGE_libev is not set
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
# CONFIG_PACKAGE_libsodium is not set
CONFIG_PACKAGE_libstdcpp=y
# CONFIG_PACKAGE_libudns is not set
CONFIG_PACKAGE_libunbound=y
CONFIG_PACKAGE_libunbound_ipset=y
CONFIG_PACKAGE_libunbound_libevent=y
CONFIG_PACKAGE_libunbound_libpthread=y
CONFIG_PACKAGE_libunwind=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_luci-app-dawn=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-nps=y
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-dawn-zh-cn=y
CONFIG_PACKAGE_luci-i18n-easymesh-zh-cn=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nps-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-theme-neobird=y
# CONFIG_PACKAGE_microsocks is not set
CONFIG_PACKAGE_npc=y
CONFIG_PACKAGE_openvswitch=y
CONFIG_PACKAGE_openvswitch-common=y
CONFIG_PACKAGE_openvswitch-libofproto=y
CONFIG_PACKAGE_openvswitch-libopenvswitch=y
CONFIG_PACKAGE_openvswitch-libovsdb=y
CONFIG_PACKAGE_openvswitch-ovsdb=y
CONFIG_PACKAGE_openvswitch-vswitchd=y
CONFIG_PACKAGE_ovsd=y
# CONFIG_PACKAGE_resolveip is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-check is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-local is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir is not set
# CONFIG_PACKAGE_tcping is not set
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_umdns=y
CONFIG_PACKAGE_uuidgen=y
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_zerotier=y
CONFIG_TARGET_OPTIONS=y
# CONFIG_USE_MIPS16 is not set
# CONFIG_KERNEL_BRIDGE is not set
